<footer class="footer">
    <p>&copy; {{ currentYear }} Lebohang Monamane. All rights reserved.</p>

    <div class="social-links">
        <a href="https://www.facebook.com/profile.php?id=61566527098189" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="www.linkedin.com/in/lebohang-monamane-707354298" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/BytewiseSolutions/bytewise-portfolio" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>
    </div>

    <a href="#" class="back-to-top" aria-label="Back to Top">
        <i class="fas fa-chevron-up"></i>
    </a>

</footer>